@import '~node_modules/modern-normalize/modern-normalize.css';

* {
    list-style: none;
}

body {
    padding: 20px 40px;
}

.catPicture {
    width: 500px;
    height: 500px;
}

.cat-info {
    display: flex;
    margin-top: 50px;
}

.cat-completeInfo {
    width: 500px;
    font-size: 20px;
}

